openapi: 3.1.0
info:
  title: BarberBase API
  version: 1.0.0
  description: |
    Real-time barbershop operations API.
    
    ## Authentication Tiers
    - **Public**: No auth. Rate-limited by Cloudflare + x/time/rate. Used by customers.
    - **Customer Session**: Signed magic-link token in `X-Session-Token` header. Scoped to one queue_entry + location + 23h expiry.
    - **Staff JWT**: Bearer token in `Authorization` header. Issued after WhatsApp OTP. Contains tenant_id, location_id, staff_member_id, role.
    - **Service (Bhejna)**: Pre-shared key in `X-Bhejna-Key` header. Webhook ingress only.
    - **AI Agent**: Bearer token scoped to read+write public operations. Issued by owner from dashboard.

    ## ID Convention
    All IDs are UUID v7 (timestamp-sortable). Phone numbers are the canonical customer identity.
    All monetary values are in **paise** (1 INR = 100 paise). Never floats.

servers:
  - url: https://api.barbers.app/v1
    description: Production

# ─────────────────────────────────────────────────────────────────────────────
# SECURITY SCHEMES
# ─────────────────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    StaffJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Staff session token issued after WhatsApp OTP login

    CustomerSession:
      type: apiKey
      in: header
      name: X-Session-Token
      description: Signed magic-link token scoped to a queue entry (23h expiry)

    BhejnaKey:
      type: apiKey
      in: header
      name: X-Bhejna-Key
      description: Pre-shared key authenticating Bhejna webhook calls

    AIAgentToken:
      type: http
      scheme: bearer
      description: Owner-issued token for AI agent tool calls

    PushActionToken:
      type: apiKey
      in: header
      name: X-Push-Action-Token
      description: |
        Stateless HMAC-signed token authorizing one push action command.
        Format: base64url(payload) + "." + base64url(HMAC-SHA256(payload, HMAC_SECRET))
        where payload = base64url("{staff_member_id}:{location_id}:{command}:{unix_expires}").
        Generated by Go outbox push dispatch handler at send time. TTL 4 hours.
        Command-scoped: a call_next PAT cannot authorize any other endpoint (Law 20).
        See: 03_auth_identity.md, 16_web_push_service_worker.md

    PlatformAdminKey:
      type: apiKey
      in: header
      name: X-Platform-Admin-Key
      description: |
        Platform operator pre-shared key (env: PLATFORM_ADMIN_KEY). Authorizes tenant
        provisioning before any staff account exists. Never issued to shops or customers.
        Used exclusively by POST /admin/setup. Verified by constant-time compare in the
        handler middleware — not via JWT, not via StaffJWT (no staff exist at setup time).

  # ─────────────────────────────────────────────────────────────────────────
  # SHARED SCHEMAS
  # ─────────────────────────────────────────────────────────────────────────
  schemas:

    # ── Primitives ──────────────────────────────────────────────────────────
    UUIDv7:
      type: string
      format: uuid
      description: UUID v7 (timestamp-sortable)
      example: "01906a2c-4f3e-7000-8000-000000000001"

    PhoneNumber:
      type: string
      pattern: '^\+[1-9]\d{1,14}$'
      description: E.164 format
      example: "+919876543210"

    Paise:
      type: integer
      minimum: 0
      description: Monetary amount in paise (100 paise = 1 INR)
      example: 25000

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: "QUEUE_SESSION_CLOSED"
        message:
          type: string
          example: "The queue is not accepting new entries right now"
        details:
          type: object
          additionalProperties: true

    # ── Location Public View ─────────────────────────────────────────────────
    LocationStatus:
      type: object
      required: [id, name, slug, shop_status, queue_open, queue_length, estimated_wait_minutes, business_hours_today]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        name:
          type: string
          example: "Star Salon"
        slug:
          type: string
          example: "star-salon/koramangala"
        shop_status:
          type: string
          enum: [open, closing_soon, temporarily_closed, closed]
        queue_open:
          type: boolean
          description: Derived from shop_status + queue_session.status
        queue_length:
          type: integer
          description: Total waiting + called entries
        estimated_wait_minutes:
          type: integer
          description: Sum of durations of all entries ahead in dispatch order
        business_hours_today:
          type: object
          properties:
            opens_at:
              type: string
              format: time
              example: "10:00"
            closes_at:
              type: string
              format: time
              example: "21:00"
            is_open_today:
              type: boolean
        temporary_closure_ends_at:
          type: string
          format: date-time
          nullable: true

    # ── Service Catalog ──────────────────────────────────────────────────────
    ServiceVariant:
      type: object
      required: [id, name, duration_minutes, price_paise, allow_walk_in, allow_appointment, requires_appointment]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        name:
          type: string
          example: "Mid Fade"
        description:
          type: string
          nullable: true
        duration_minutes:
          type: integer
          minimum: 1
          example: 25
        price_paise:
          $ref: '#/components/schemas/Paise'
        allow_walk_in:
          type: boolean
        allow_appointment:
          type: boolean
        requires_appointment:
          type: boolean
        is_popular:
          type: boolean
          description: Flag for surfacing in highlights

    ServiceGroup:
      type: object
      required: [id, name, variants]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        name:
          type: string
          example: "Fade"
        description:
          type: string
          nullable: true
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ServiceVariant'

    ServiceCategory:
      type: object
      required: [id, name, gender, groups]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        name:
          type: string
          example: "Hair"
        gender:
          type: string
          enum: [men, women, unisex]
        sort_order:
          type: integer
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ServiceGroup'

    ServiceCatalog:
      type: object
      required: [location_id, display_mode, categories]
      properties:
        location_id:
          $ref: '#/components/schemas/UUIDv7'
        display_mode:
          type: string
          enum: [flat, grouped, hierarchical]
        categories:
          type: array
          items:
            $ref: '#/components/schemas/ServiceCategory'

    BookingOptions:
      type: object
      required: [total_duration_minutes, total_price_paise, allowed_entry_methods]
      properties:
        total_duration_minutes:
          type: integer
        total_price_paise:
          $ref: '#/components/schemas/Paise'
        allowed_entry_methods:
          type: array
          items:
            type: string
            enum: [walk_in, appointment]
        blocked_reason:
          type: string
          nullable: true
          enum: [shop_closed, queue_full, requires_appointment, closing_time_exceeded, null]
        queue_length:
          type: integer
        estimated_wait_minutes:
          type: integer

    # ── Queue Entry ──────────────────────────────────────────────────────────
    QueueEntryPublic:
      type: object
      description: Safe customer-facing view. No PII of other customers.
      required: [id, token_number, state, presence_state, position_ahead, estimated_wait_minutes, services]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        token_number:
          type: integer
          example: 18
        state:
          type: string
          enum: [waiting, called, in_progress, completed, skipped, no_show, cancelled, expired]
        presence_state:
          type: string
          enum: [remote, notified, on_the_way, arrived, snoozed, unknown]
        position_ahead:
          type: integer
          description: Number of dispatchable arrived entries ahead
        estimated_wait_minutes:
          type: integer
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              duration_minutes:
                type: integer
        party_size:
          type: integer
          default: 1
        magic_link_expires_at:
          type: string
          format: date-time
        shop_name:
          type: string
        location_name:
          type: string

    QueueEntryStaff:
      type: object
      description: Full staff-facing view including customer info and presence
      required: [id, token_number, state, presence_state, is_dispatchable, customer, services, total_duration_minutes, joined_at]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        token_number:
          type: integer
        state:
          type: string
          enum: [waiting, called, in_progress, completed, skipped, no_show, cancelled, expired]
        presence_state:
          type: string
          enum: [remote, notified, on_the_way, arrived, snoozed, unknown]
        is_dispatchable:
          type: boolean
        customer:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/UUIDv7'
            name:
              type: string
              nullable: true
            phone_masked:
              type: string
              description: Last 4 digits shown e.g. "+91 XXXX XX4567"
              nullable: true
            visit_count:
              type: integer
              description: Total historical visits at this location
            notes:
              type: array
              description: Staff-visible preference notes
              items:
                type: string
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              duration_minutes:
                type: integer
              price_paise:
                $ref: '#/components/schemas/Paise'
        total_duration_minutes:
          type: integer
        party_size:
          type: integer
        requested_barber_id:
          $ref: '#/components/schemas/UUIDv7'
          nullable: true
        assigned_barber_id:
          $ref: '#/components/schemas/UUIDv7'
          nullable: true
        joined_at:
          type: string
          format: date-time
        called_at:
          type: string
          format: date-time
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        stale_warning:
          type: string
          nullable: true
          description: Set by watchdog e.g. "called_10min" or "in_progress_overrun"

    QueueSnapshot:
      type: object
      description: Full live queue for staff dashboard
      required: [queue_session_id, queue_version, business_date, session_status, entries]
      properties:
        queue_session_id:
          $ref: '#/components/schemas/UUIDv7'
        queue_version:
          type: integer
          description: Monotonically increasing. SSE clients compare this to decide if fetch is needed.
        business_date:
          type: string
          format: date
        session_status:
          type: string
          enum: [active, paused, ending, closed]
        entries:
          type: array
          items:
            $ref: '#/components/schemas/QueueEntryStaff'

    # ── Appointment ──────────────────────────────────────────────────────────
    AppointmentSlot:
      type: object
      required: [time, available, estimated_end_time]
      properties:
        time:
          type: string
          format: time
          example: "11:00"
        available:
          type: boolean
        estimated_end_time:
          type: string
          format: time
          example: "11:40"
        reason_unavailable:
          type: string
          nullable: true

    AppointmentResponse:
      type: object
      required: [id, scheduled_start_at, status, services, magic_link]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        scheduled_start_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [scheduled, checked_in, cancelled, no_show]
        services:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              duration_minutes:
                type: integer
        total_duration_minutes:
          type: integer
        total_price_paise:
          $ref: '#/components/schemas/Paise'
        magic_link:
          type: string
          format: uri

    # ── Checkout ─────────────────────────────────────────────────────────────
    CheckoutRequest:
      type: object
      required: [queue_entry_id, payment_lines]
      properties:
        queue_entry_id:
          $ref: '#/components/schemas/UUIDv7'
        discount_amount_paise:
          $ref: '#/components/schemas/Paise'
          default: 0
        discount_reason:
          type: string
          nullable: true
          maxLength: 100
        product_line_items:
          type: array
          description: Products sold at checkout (beard oil etc). Does not affect queue duration.
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                $ref: '#/components/schemas/UUIDv7'
              quantity:
                type: integer
                minimum: 1
        payment_lines:
          type: array
          minItems: 1
          description: Supports split payment. Sum must equal total_amount_paise.
          items:
            type: object
            required: [method, amount_paise]
            properties:
              method:
                type: string
                enum: [cash, upi, card, unpaid, complimentary]
              amount_paise:
                $ref: '#/components/schemas/Paise'
              provider_reference_id:
                type: string
                nullable: true
                description: UPI transaction ID, entered manually by staff
                maxLength: 100

    CheckoutResponse:
      type: object
      required: [visit_id, total_amount_paise, payment_status, feedback_scheduled]
      properties:
        visit_id:
          $ref: '#/components/schemas/UUIDv7'
        subtotal_amount_paise:
          $ref: '#/components/schemas/Paise'
        discount_amount_paise:
          $ref: '#/components/schemas/Paise'
        total_amount_paise:
          $ref: '#/components/schemas/Paise'
        payment_status:
          type: string
          enum: [paid, unpaid, complimentary]
        feedback_scheduled:
          type: boolean
          description: true if WhatsApp feedback request was queued in outbox

    # ── Staff / Barber ────────────────────────────────────────────────────────
    StaffMember:
      type: object
      required: [id, name, role, status]
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
        name:
          type: string
        role:
          type: string
          enum: [owner, manager, barber]
        status:
          type: string
          enum: [idle, cutting, break, offline]
        current_entry_id:
          $ref: '#/components/schemas/UUIDv7'
          nullable: true

    # ── Daily Analytics (Phase 1 simple view) ────────────────────────────────
    DailyAnalytics:
      type: object
      required: [business_date, total_visits, total_revenue_paise, barber_breakdown]
      properties:
        business_date:
          type: string
          format: date
        total_visits:
          type: integer
        total_revenue_paise:
          $ref: '#/components/schemas/Paise'
        average_wait_minutes:
          type: integer
        no_show_count:
          type: integer
        cancelled_count:
          type: integer
        barber_breakdown:
          type: array
          items:
            type: object
            properties:
              barber_id:
                $ref: '#/components/schemas/UUIDv7'
              barber_name:
                type: string
              visits_completed:
                type: integer
              revenue_paise:
                $ref: '#/components/schemas/Paise'
              average_service_minutes:
                type: integer

# ─────────────────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────────────────
paths:

  # ════════════════════════════════════════════════════════════════════════════
  # PUBLIC — No auth. Customers and AI agent. Rate-limited by IP.
  # ════════════════════════════════════════════════════════════════════════════

  /public/locations/{location_slug}/status:
    get:
      tags: [Public]
      summary: Get live shop status and queue length
      description: |
        Called on page load and by AI agent to check if shop is open and queue state.
        Response cached at Cloudflare edge for 15 seconds (stale-while-revalidate).
        This is the first call when customer lands on the shop page.
      operationId: getLocationStatus
      parameters:
        - name: location_slug
          in: path
          required: true
          schema:
            type: string
            example: "star-salon/koramangala"
      responses:
        '200':
          description: Location status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationStatus'
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public/locations/{location_id}/service-catalog:
    get:
      tags: [Public]
      summary: Get full hierarchical service catalog
      description: |
        Returns service tree: categories → groups → variants.
        Cached at Cloudflare edge for 1 hour. Invalidated on service update.
        Used by: web service selector, AI agent tool call.
        Filter by gender to reduce payload on simple shops.
      operationId: getServiceCatalog
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: gender
          in: query
          required: false
          schema:
            type: string
            enum: [men, women, unisex, all]
            default: all
        - name: category_id
          in: query
          required: false
          description: Filter to a single category
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Service catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'

  /public/locations/{location_id}/service-catalog/search:
    get:
      tags: [Public]
      summary: Search service variants by name
      description: |
        Fuzzy search across variant names and group names.
        Primary tool for AI agent to resolve customer intent to variant_id.
        e.g. query="mid fade" returns Mid Fade variant with full context.
      operationId: searchServiceVariants
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 100
            example: "mid fade"
      responses:
        '200':
          description: Matching variants
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/ServiceVariant'
                        - type: object
                          properties:
                            group_name:
                              type: string
                            category_name:
                              type: string

  /public/locations/{location_id}/booking-options:
    post:
      tags: [Public]
      summary: Resolve allowed entry methods for selected services
      description: |
        Strictest-service-wins logic. Returns whether walk-in, appointment, or both
        are available given the selected variant_ids and current shop state.
        Called after customer finishes service selection before showing Join/Book buttons.
        Also used by AI agent before calling join_queue or book_appointment.
      operationId: resolveBookingOptions
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variant_ids]
              properties:
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                party_size:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 1
      responses:
        '200':
          description: Booking options with computed totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingOptions'

  /public/locations/{location_id}/checkin-intents:
    post:
      tags: [Public]
      summary: Create a check-in intent for the WhatsApp JOIN handshake
      description: |
        Called when the customer taps [Join via WhatsApp] after booking-options
        returns walk_in in allowed_modes. Creates a checkin_intents row
        (status='created') and returns a short token_code plus a wa.me deep link
        pre-filled with "JOIN {LOCATION_SLUG} {TOKEN_CODE}".

        Does NOT create a queue_entry. The queue_entry is created later by the
        webhook worker when the customer's WhatsApp JOIN message arrives and the
        token_code is resolved (10_customer_journey.md steps 4–7).

        Intent snapshots shop_status at creation; closing-time rejection is decided
        at resolution, not here. Each tap creates a new throwaway intent (no
        idempotency key); unresolved intents expire in 23h.

        Public + unauthenticated. Abuse-guarded by Cloudflare Turnstile at the edge
        and golang.org/x/time/rate in the backend.
      operationId: createCheckinIntent
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variant_ids]
              properties:
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                party_size:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 1
                customer_name:
                  type: string
                  nullable: true
                  maxLength: 100
                  description: Optional. Carried into the intent and onto the queue_entry at resolution.
      responses:
        '201':
          description: Intent created. Open deep_link to hand the session to WhatsApp.
          content:
            application/json:
              schema:
                type: object
                required: [intent_id, token_code, deep_link, expires_at]
                properties:
                  intent_id:
                    $ref: '#/components/schemas/UUIDv7'
                  token_code:
                    type: string
                    example: "JN8K4P"
                    description: 6-char shortcode echoed in the WhatsApp JOIN message body.
                  deep_link:
                    type: string
                    format: uri
                    example: "https://wa.me/+912212345678?text=JOIN%20STAR-SALON%20JN8K4P"
                    description: |
                      wa.me link to the location's WhatsApp number (Mode B business
                      number, else the platform number for Mode A), pre-filled with
                      the JOIN command.
                  expires_at:
                    type: string
                    format: date-time
                    description: Intent expiry (created_at + 23h). After this, resolution returns 422.
        '404':
          description: Location not found or not active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Walk-in not available for these services right now (booking resolver blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /public/locations/{location_id}/appointment-slots:
    get:
      tags: [Public]
      summary: Get available appointment time slots for a date
      description: |
        Returns available slots given service durations and existing appointments.
        Slots that would exceed closing time are not returned.
        Used by web date picker and AI agent.
      operationId: getAppointmentSlots
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2026-06-10"
        - name: variant_ids
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Available slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  total_duration_minutes:
                    type: integer
                  slots:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppointmentSlot'

  # ── Auth (Step 1 of customer/staff WhatsApp path) ─────────────────────────

  /auth/staff/request-otp:
    post:
      tags: [Auth]
      summary: Request WhatsApp OTP for staff login
      description: |
        Staff enters phone number. Go calls Bhejna sending API.
        Bhejna sends 6-digit OTP to staff's WhatsApp.
        Rate limited: max 3 requests per phone per 10 minutes.
      operationId: requestStaffOTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "OTP sent to your WhatsApp"
                  expires_in_seconds:
                    type: integer
                    example: 300
        '429':
          description: Rate limit exceeded

  /auth/staff/verify-otp:
    post:
      tags: [Auth]
      summary: Verify OTP and issue staff JWT
      operationId: verifyStaffOTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, otp]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                otp:
                  type: string
                  minLength: 6
                  maxLength: 6
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: JWT issued. Set as httpOnly cookie by BFF.
          content:
            application/json:
              schema:
                type: object
                required: [staff_member_id, name, role, location_id]
                properties:
                  staff_member_id:
                    $ref: '#/components/schemas/UUIDv7'
                  name:
                    type: string
                  role:
                    type: string
                    enum: [owner, manager, barber]
                  location_id:
                    $ref: '#/components/schemas/UUIDv7'
                  tenant_id:
                    $ref: '#/components/schemas/UUIDv7'
        '401':
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/staff/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token using httpOnly refresh cookie
      description: Called automatically by SvelteKit BFF when access token expires (15 min TTL).
      operationId: refreshStaffToken
      responses:
        '200':
          description: New access token issued
        '401':
          description: Refresh token expired or invalid. Staff must re-login.

  # ── Customer Queue Join ────────────────────────────────────────────────────

  /queue/join:
    post:
      tags: [Queue - Customer]
      summary: Join the queue (walk-in)
      description: |
        Called after customer completes service selection on the web UI and taps Confirm.
        Idempotency key prevents duplicate joins on retry.
        
        Identity resolution order:
        1. If phone_number provided: lookup customer by (tenant_id, phone_number)
        2. If not found: create new customer record
        3. Store BSUID in customer_identities if provided
        
        On success: creates visit + visit_services + queue_entry, fires outbox event
        to send WhatsApp confirmation via Bhejna.
        
        Returns signed magic_link_token valid for 23 hours.
      operationId: joinQueue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location_id, variant_ids, idempotency_key, initiated_via]
              properties:
                location_id:
                  $ref: '#/components/schemas/UUIDv7'
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                party_size:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 1
                customer_name:
                  type: string
                  nullable: true
                  maxLength: 80
                  description: Optional. Barber sees this on dashboard.
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                  nullable: true
                  description: |
                    Provided when customer joins via web OTP path.
                    Null when joining via WhatsApp (phone resolved from Bhejna webhook).
                bsuid:
                  type: string
                  nullable: true
                  description: |
                    Provided by Bhejna webhook resolution. Never sent by browser directly.
                    Stored in customer_identities. Phone number is the canonical sending address.
                requested_barber_id:
                  $ref: '#/components/schemas/UUIDv7'
                  nullable: true
                  description: Only respected if location.queue_routing_mode = hybrid or barber_specific
                idempotency_key:
                  type: string
                  format: uuid
                  description: UUIDv4 generated by client. Prevents double-join on network retry.
                initiated_via:
                  type: string
                  enum: [whatsapp, web_form, staff_dashboard, ai_agent]
      responses:
        '200':
          description: Successfully joined or idempotent duplicate (returns existing entry)
          content:
            application/json:
              schema:
                type: object
                required: [queue_entry, magic_link_token, whatsapp_sent]
                properties:
                  queue_entry:
                    $ref: '#/components/schemas/QueueEntryPublic'
                  magic_link_token:
                    type: string
                    description: Signed token. Browser stores this. Also sent via WhatsApp.
                  magic_link_url:
                    type: string
                    format: uri
                    example: "https://barbers.app/q/status?t=eyJ..."
                  whatsapp_sent:
                    type: boolean
                    description: false if customer has no phone number (anonymous walk-in)
        '409':
          description: Customer already has an active entry at this location
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      existing_entry:
                        $ref: '#/components/schemas/QueueEntryPublic'
        '422':
          description: Booking resolver blocked this join (shop closed, queue full, requires appointment)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /appointments/book:
    post:
      tags: [Queue - Customer]
      summary: Book an appointment
      description: |
        Books a time slot. Validates slot availability inside a transaction.
        On success: creates appointment record, fires WhatsApp confirmation via outbox.
        Appointment becomes a queue_entry only when customer checks in on the day.
      operationId: bookAppointment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location_id, variant_ids, scheduled_start_at, phone_number, idempotency_key]
              properties:
                location_id:
                  $ref: '#/components/schemas/UUIDv7'
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                party_size:
                  type: integer
                  default: 1
                scheduled_start_at:
                  type: string
                  format: date-time
                customer_name:
                  type: string
                  nullable: true
                  maxLength: 80
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                  description: Required for appointment. WhatsApp confirmation sent here.
                requested_barber_id:
                  $ref: '#/components/schemas/UUIDv7'
                  nullable: true
                idempotency_key:
                  type: string
                  format: uuid
                initiated_via:
                  type: string
                  enum: [whatsapp, web_form, staff_dashboard, ai_agent]
      responses:
        '201':
          description: Appointment booked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
        '409':
          description: Slot no longer available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Customer Session (magic link token auth) ───────────────────────────────

  /queue/my-status:
    get:
      tags: [Queue - Customer]
      summary: Get customer's live queue status
      description: |
        Called on magic link page load and after SSE ping triggers a re-fetch.
        Returns current position, estimated wait, and presence state.
        This is the primary polling/fetch target after SSE ping.
      operationId: getMyQueueStatus
      security:
        - CustomerSession: []
      responses:
        '200':
          description: Current queue status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryPublic'
        '401':
          description: Invalid or expired session token
        '404':
          description: Entry not found or already completed/cancelled

  /queue/on-the-way:
    post:
      tags: [Queue - Customer]
      summary: Customer confirms they are heading to the shop
      description: |
        Updates presence_state from remote/notified → on_the_way.
        Triggers an SSE ping to the staff dashboard showing customer is coming.
        No validation beyond session token. Customer self-declares.
      operationId: confirmOnTheWay
      security:
        - CustomerSession: []
      responses:
        '200':
          description: Presence updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  presence_state:
                    type: string
                    example: "on_the_way"
                  message:
                    type: string
                    example: "Great! Head over to Star Salon when ready."
        '422':
          description: Invalid transition (already arrived, snoozed, or completed)

  /queue/confirm-arrival:
    post:
      tags: [Queue - Customer]
      summary: Confirm physical arrival at the shop
      description: |
        Transitions presence_state → arrived. Requires physical verification.
        
        Methods:
        - pin: Customer enters static location PIN shown at counter
        - geolocation: Browser GPS within shop radius (auto-confirm, no input needed)
        - nfc: Signed payload from NFC tag tap
        
        Rate limited: max 5 attempts per queue_entry, 10 per IP per hour.
        On success: is_dispatchable = true, SSE ping fires to staff dashboard.
      operationId: confirmArrival
      security:
        - CustomerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [method]
              properties:
                method:
                  type: string
                  enum: [pin, geolocation, nfc]
                pin:
                  type: string
                  minLength: 4
                  maxLength: 6
                  pattern: '^\d+$'
                  description: Required when method = pin
                latitude:
                  type: number
                  format: double
                  description: Required when method = geolocation
                longitude:
                  type: number
                  format: double
                  description: Required when method = geolocation
                accuracy_metres:
                  type: number
                  description: Browser-reported GPS accuracy. Go rejects if > 150m.
                nfc_token:
                  type: string
                  description: Required when method = nfc. Signed payload from NFC tag.
      responses:
        '200':
          description: Arrival confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  presence_state:
                    type: string
                    example: "arrived"
                  message:
                    type: string
                    example: "Welcome! You are next in line."
        '400':
          description: Incorrect PIN or invalid NFC token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      attempts_remaining:
                        type: integer
        '422':
          description: GPS accuracy too low. Fallback to PIN.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /queue/cancel:
    post:
      tags: [Queue - Customer]
      summary: Customer cancels their own queue entry
      description: |
        Allowed only when state = waiting or called.
        Not allowed when state = in_progress.
        Fires SSE ping to staff dashboard.
      operationId: cancelMyEntry
      security:
        - CustomerSession: []
      responses:
        '200':
          description: Entry cancelled
        '422':
          description: Cannot cancel in current state (in_progress)

  /queue/feedback:
    post:
      tags: [Queue - Customer]
      summary: Submit post-service feedback
      description: |
        Called from WhatsApp reply handler (via Bhejna webhook) or web rating page.
        visit_id is embedded in the magic link token or outbox payload.
        UNIQUE(visit_id) ensures one feedback per visit.
      operationId: submitFeedback
      security:
        - CustomerSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                  nullable: true
                  maxLength: 500
      responses:
        '201':
          description: Feedback recorded
        '409':
          description: Feedback already submitted for this visit

  # ── SSE Stream ────────────────────────────────────────────────────────────

  /stream/{location_id}:
    get:
      tags: [Realtime]
      summary: SSE stream for queue version pings
      description: |
        Go maintains this SSE connection in-memory via sync.Map keyed by location_id.
        
        Events emitted:
        - queue_changed: { type: "queue_changed", location_id: "uuid", queue_version: 184 }
        - heartbeat: { type: "heartbeat" } every 30 seconds to keep connection alive
        
        Client behaviour:
        - On queue_changed: compare queue_version to local. If stale, fetch /queue/snapshot or /queue/my-status.
        - On disconnect: reconnect with exponential backoff (1s, 2s, 4s, max 30s).
        - Staff: persistent connection.
        - Customer magic link: active while tab visible, pause on hidden, timeout after 4h idle.
        
        Auth:
        - Staff: StaffJWT query param (?token=...)
        - Customer: CustomerSession query param (?t=...)
        - Unauthenticated: connection rejected
      operationId: subscribeToQueueStream
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: token
          in: query
          required: true
          description: Staff JWT or Customer session token
          schema:
            type: string
      responses:
        '200':
          description: SSE stream opened
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          description: Invalid token

  # ════════════════════════════════════════════════════════════════════════════
  # STAFF — Requires StaffJWT. Tenant and location scoped from JWT claims.
  # ════════════════════════════════════════════════════════════════════════════

  /staff/queue/snapshot:
    get:
      tags: [Staff - Queue]
      summary: Get full queue snapshot for staff dashboard
      description: |
        Returns all active entries for today's queue session at the JWT's location_id.
        Called on dashboard load and after SSE ping.
        Ordered by: in_progress first, then called, then waiting by priority_group + sort_key.
      operationId: getQueueSnapshot
      security:
        - StaffJWT: []
      responses:
        '200':
          description: Full queue snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueSnapshot'

  /staff/queue/call-next:
    post:
      tags: [Staff - Queue]
      summary: Call next dispatchable customer
      description: |
        The primary barber action. Single tap moves the queue forward.
        
        Transaction:
        1. Lock queue_session FOR UPDATE
        2. Find oldest dispatchable (state=waiting, is_dispatchable=true, presence=arrived)
           filtered by barber routing mode and JWT barber_id
        3. Assign barber, state → called, called_at = now()
        4. Update barber status → cutting
        5. Fire outbox: WhatsApp "your turn" message to customer
        6. Increment queue_version, fire SSE ping via in-memory sync.Map
        7. Commit
        
        If no arrived customers available: returns 404 with waiting_remote_count
        showing how many remote customers are on the way.
      operationId: callNextCustomer
      security:
        - StaffJWT: []
      responses:
        '200':
          description: Customer called
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryStaff'
        '404':
          description: No dispatchable customers available
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      waiting_remote_count:
                        type: integer
                        description: Customers in queue but not yet arrived

  /staff/queue/entries/{entry_id}/start:
    post:
      tags: [Staff - Queue]
      summary: Start service (called → in_progress)
      description: |
        Normal flow: entry must be in state=called.
        Direct start: if state=waiting and presence=arrived, atomically
        sets called_at=now() and started_at=now() in one transition.
        Updates barber status → cutting.
        Fires SSE ping.
      operationId: startService
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Service started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryStaff'
        '422':
          description: Invalid state transition or customer not arrived (for direct start)

  /staff/queue/entries/{entry_id}/complete:
    post:
      tags: [Staff - Queue]
      summary: Complete service and checkout (atomic)
      description: |
        The CompleteVisitAndCheckout transaction. All-or-nothing.
        
        1. Lock queue_session FOR UPDATE
        2. Lock queue_entry FOR UPDATE  
        3. Lock visit FOR UPDATE
        4. Validate state = in_progress
        5. Finalize visit_charge
        6. Insert visit_charge_line_items (services + any products)
        7. Insert visit_payments
        8. queue_entry.state → completed
        9. visit.status → completed
        10. customers: last_visit_at, visit_count++, lifetime_value_paise += total
        11. staff_members.status → idle
        12. Insert outbox_event: feedback_request (fires 30 min later)
        13. Increment queue_version, fire SSE ping
        14. COMMIT
      operationId: completeService
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Service completed and checkout recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '422':
          description: Entry not in in_progress state or payment sum mismatch

  /staff/queue/entries/{entry_id}/skip:
    post:
      tags: [Staff - Queue]
      summary: Skip a customer (was called, not present)
      description: |
        state → skipped. Customer remains visible on dashboard but not dispatchable.
        Staff can later use /reactivate to put them back.
        Fires SSE ping.
      operationId: skipEntry
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Entry skipped

  /staff/queue/entries/{entry_id}/no-show:
    post:
      tags: [Staff - Queue]
      summary: Mark customer as no-show (was called, confirmed absent)
      description: |
        Differs from skip: no-show is terminal for analytics.
        state → no_show. Entry removed from active dispatch permanently.
        WhatsApp message sent: "We missed you today."
      operationId: markNoShow
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Marked as no-show

  /staff/queue/entries/{entry_id}/reactivate:
    post:
      tags: [Staff - Queue]
      summary: Reactivate a snoozed or skipped customer
      description: |
        Used when a snoozed remote customer physically arrives.
        Also used for skipped customers who return.
        Re-inserts after current in_progress and called entries,
        before waiting remote entries.
        presence_state → arrived (staff confirms physical presence).
        is_dispatchable → true.
        Fires SSE ping.
      operationId: reactivateEntry
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Entry reactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryStaff'

  /staff/queue/entries/{entry_id}/confirm-arrival:
    post:
      tags: [Staff - Queue]
      summary: Staff confirms customer arrival (bypasses PIN)
      description: |
        Used when customer forgot phone, is elderly, or cannot use PIN.
        Staff authority overrides arrival verification.
        presence_state → arrived, is_dispatchable → true.
        Logged in arrival_attempts with method = staff.
      operationId: staffConfirmArrival
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Arrival confirmed by staff

  /staff/queue/entries/{entry_id}/reassign:
    post:
      tags: [Staff - Queue]
      summary: Reassign entry to a different barber
      description: |
        Manager/owner role only. Used when barber has emergency mid-service.
        Updates assigned_barber_id. Previous barber status → idle.
        New barber status → cutting (if in_progress).
        Fires SSE ping.
      operationId: reassignBarber
      security:
        - StaffJWT: []
      parameters:
        - name: entry_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_barber_id]
              properties:
                new_barber_id:
                  $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Reassigned

  /staff/queue/add-walkin:
    post:
      tags: [Staff - Queue]
      summary: Staff manually adds a walk-in customer
      description: |
        Used when customer has no phone, no WhatsApp, or needs staff assistance.
        Creates anonymous or named queue entry with presence_state = arrived.
        No magic link issued (no phone). Staff tracks them verbally.
      operationId: addWalkIn
      security:
        - StaffJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variant_ids]
              properties:
                customer_name:
                  type: string
                  nullable: true
                  maxLength: 80
                  description: '"Uncle", "Kid with dad", etc.'
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                  nullable: true
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                party_size:
                  type: integer
                  default: 1
                requested_barber_id:
                  $ref: '#/components/schemas/UUIDv7'
                  nullable: true
      responses:
        '200':
          description: Walk-in added to queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryStaff'

  # ── Shop Status Management ─────────────────────────────────────────────────

  /staff/shop/status:
    get:
      tags: [Staff - Shop]
      summary: Get current shop operational status
      security:
        - StaffJWT: []
      responses:
        '200':
          description: Shop status
          content:
            application/json:
              schema:
                type: object
                properties:
                  shop_status:
                    type: string
                    enum: [open, closing_soon, temporarily_closed, closed]
                  queue_session_status:
                    type: string
                    enum: [active, paused, ending, closed]
                  manual_override_active:
                    type: boolean
                  override_expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  arrival_pin:
                    type: string
                    description: Plain PIN shown to staff for whiteboard. Never exposed to customers.
                    example: "4729"

    patch:
      tags: [Staff - Shop]
      summary: Change shop status (manual override)
      description: |
        Staff or owner manually changes shop status.
        If active queue entries exist when closing, modal_action required.
        
        modal_action values:
        - finish_remaining: stop new joins, serve existing queue to completion
        - expire_remaining: immediately expire all waiting entries, notify customers
        - pause: temporarily pause (requires expires_in_minutes)
      operationId: setShopStatus
      security:
        - StaffJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, closing_soon, temporarily_closed, closed]
                expires_in_minutes:
                  type: integer
                  nullable: true
                  description: "Required for temporarily_closed. Options: 15, 30, 60, or null (manual reopen)."
                reason:
                  type: string
                  nullable: true
                  maxLength: 100
                modal_action:
                  type: string
                  nullable: true
                  enum: [finish_remaining, expire_remaining]
                  description: Required if closing with active queue entries.
      responses:
        '200':
          description: Status updated
        '422':
          description: Active entries exist. modal_action required.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      active_entry_count:
                        type: integer

  # ── Staff Management ──────────────────────────────────────────────────────

  /staff/members:
    get:
      tags: [Staff - Management]
      summary: List staff members for this location
      security:
        - StaffJWT: []
      responses:
        '200':
          description: Staff list
          content:
            application/json:
              schema:
                type: object
                properties:
                  staff:
                    type: array
                    items:
                      $ref: '#/components/schemas/StaffMember'

  /staff/members/{staff_id}/status:
    patch:
      tags: [Staff - Management]
      summary: Update barber operational status
      description: |
        Barber sets themselves as on break, back from break, offline.
        Owner can set any barber status.
      operationId: updateBarberStatus
      security:
        - StaffJWT: []
      parameters:
        - name: staff_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [idle, cutting, break, offline]
      responses:
        '200':
          description: Status updated

  # ── Analytics ─────────────────────────────────────────────────────────────

  /staff/analytics/daily:
    get:
      tags: [Staff - Analytics]
      summary: Daily revenue and visit summary
      description: |
        Simple SQL aggregation. Not a ledger. Phase 1 hisab view.
        Shows per-barber: visits completed, revenue collected.
        Owner and manager roles only.
      operationId: getDailyAnalytics
      security:
        - StaffJWT: []
      parameters:
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
            description: Defaults to today (location timezone)
      responses:
        '200':
          description: Daily analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyAnalytics'

  # ════════════════════════════════════════════════════════════════════════════
  # PLATFORM PROVISIONING — PlatformAdminKey only (operator use, not shops)
  # ════════════════════════════════════════════════════════════════════════════

  /admin/setup:
    post:
      tags: [Admin - Provisioning]
      summary: Provision a new tenant + first location + owner (one-shot bootstrap)
      description: |
        Platform operator endpoint. Atomically creates:
          1. A tenant row (slug, name, owner_phone)
          2. The tenant's first location (slug, name, address, timezone)
          3. An owner staff_member (role=owner, phone=owner_phone) so the owner can
             immediately request an OTP via POST /auth/staff/request-otp and log in.
          4. Initializes the arrival PIN (6-digit crypto/rand, bcrypt-hashed).

        StaffJWT cannot authorize this endpoint — no staff exist yet at setup time.
        Gated by PlatformAdminKey (env: PLATFORM_ADMIN_KEY, constant-time compare).

        Idempotency: duplicate tenant_slug, location_slug, or owner_phone → 409.
        Phase 1: single location per tenant only (max_locations defaults to 1).
        owner_phone must be E.164 and must not already exist in staff_members.
      operationId: provisionTenant
      security:
        - PlatformAdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_name
                - tenant_slug
                - owner_name
                - owner_phone
                - location_name
                - location_slug
              properties:
                tenant_name:
                  type: string
                  maxLength: 255
                  example: "Star Salon"
                tenant_slug:
                  type: string
                  maxLength: 100
                  pattern: '^[a-z0-9-]+$'
                  description: URL-safe globally unique tenant identifier. e.g. "star-salon"
                  example: "star-salon"
                owner_name:
                  type: string
                  maxLength: 100
                  example: "Ravi Kumar"
                owner_phone:
                  $ref: '#/components/schemas/PhoneNumber'
                location_name:
                  type: string
                  maxLength: 255
                  example: "Star Salon — Koramangala"
                location_slug:
                  type: string
                  maxLength: 100
                  pattern: '^[a-z0-9-]+/[a-z0-9-]+$'
                  description: |
                    Globally unique full slug in the form "tenant-slug/location-slug".
                    Must be prefixed with tenant_slug. e.g. "star-salon/koramangala"
                  example: "star-salon/koramangala"
                address:
                  type: string
                  example: "12, 80 Feet Road, Koramangala, Bengaluru 560034"
                timezone:
                  type: string
                  default: "Asia/Kolkata"
                  example: "Asia/Kolkata"
      responses:
        '201':
          description: Tenant provisioned. arrival_pin must be noted — display once, then only readable from /staff/shop/status.
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenant_id
                  - location_id
                  - owner_staff_member_id
                  - arrival_pin
                properties:
                  tenant_id:
                    $ref: '#/components/schemas/UUIDv7'
                  location_id:
                    $ref: '#/components/schemas/UUIDv7'
                  owner_staff_member_id:
                    $ref: '#/components/schemas/UUIDv7'
                  arrival_pin:
                    type: string
                    minLength: 4
                    maxLength: 6
                    example: "8362"
                    description: Plaintext PIN shown once. Laminate on counter. Staff dashboard shows it thereafter.
        '409':
          description: tenant_slug, location_slug, or owner_phone already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid X-Platform-Admin-Key

  # ════════════════════════════════════════════════════════════════════════════
  # OWNER/ADMIN — Requires StaffJWT with role = owner or manager
  # ════════════════════════════════════════════════════════════════════════════

  /admin/locations/{location_id}/services:
    get:
      tags: [Admin - Services]
      summary: List all services (full management view)
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Full service catalog for management
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalog'

    post:
      tags: [Admin - Services]
      summary: Create a new service variant
      description: Also creates category/group if they don't exist.
      operationId: createServiceVariant
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category_name, group_name, variant_name, duration_minutes, price_paise]
              properties:
                category_name:
                  type: string
                  example: "Hair"
                category_gender:
                  type: string
                  enum: [men, women, unisex]
                  default: unisex
                group_name:
                  type: string
                  example: "Fade"
                variant_name:
                  type: string
                  example: "Mid Fade"
                duration_minutes:
                  type: integer
                  minimum: 1
                price_paise:
                  $ref: '#/components/schemas/Paise'
                allow_walk_in:
                  type: boolean
                  default: true
                allow_appointment:
                  type: boolean
                  default: true
                requires_appointment:
                  type: boolean
                  default: false
                is_popular:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Service variant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceVariant'

  /admin/locations/{location_id}/services/{variant_id}:
    patch:
      tags: [Admin - Services]
      summary: Update a service variant
      description: |
        Price/duration changes do NOT affect existing visit_services snapshots.
        Snapshots are immutable. Only future bookings use new values.
      operationId: updateServiceVariant
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: variant_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variant_name:
                  type: string
                duration_minutes:
                  type: integer
                  minimum: 1
                price_paise:
                  $ref: '#/components/schemas/Paise'
                is_active:
                  type: boolean
                is_popular:
                  type: boolean
      responses:
        '200':
          description: Updated

  /admin/locations/{location_id}/arrival-pin/regenerate:
    post:
      tags: [Admin - Location]
      summary: Regenerate the static arrival PIN for this location
      description: |
        Owner regenerates PIN if suspected of being shared externally.
        New PIN must be written on the counter laminated card.
        All existing queue entries that haven't arrived yet now require the new PIN.
      operationId: regenerateArrivalPin
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: New PIN generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_pin:
                    type: string
                    example: "8362"
                    description: Display once to owner. Then only accessible from /staff/shop/status.

  /admin/staff:
    post:
      tags: [Admin - Staff]
      summary: Add a new staff member
      operationId: createStaffMember
      security:
        - StaffJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone_number, role]
              properties:
                name:
                  type: string
                  maxLength: 100
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                role:
                  type: string
                  enum: [manager, barber]
      responses:
        '201':
          description: Staff member created

  # ════════════════════════════════════════════════════════════════════════════
  # BHEJNA WEBHOOK INGRESS — BhejnaKey auth only
  # ════════════════════════════════════════════════════════════════════════════

  /webhooks/bhejna:
    post:
      tags: [Webhooks]
      summary: Receive normalized WhatsApp event from Bhejna
      description: |
        CRITICAL: Write to webhook_events table BEFORE returning 200.
        INSERT ... ON CONFLICT (source, external_event_id) DO NOTHING.
        Always return 200 (idempotent). Never return 4xx to Bhejna (causes retries).
        
        Async Go worker processes webhook_events WHERE status = 'pending'
        using SKIP LOCKED for safe parallel processing.
        
        Handled event_types:
        - message.received: Customer joins queue, replies to prompts, sends OTP
        - flow.completed: WhatsApp Flow form submission (future)
        - message.status: Delivery receipts (for notification tracking)
      operationId: receiveBhejnaWebhook
      security:
        - BhejnaKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bhejna_event_id, event_type, channel, received_at, business_phone_number, sender]
              properties:
                bhejna_event_id:
                  type: string
                  description: Used as external_event_id for idempotency
                event_type:
                  type: string
                  enum: [message.received, flow.completed, message.status]
                channel:
                  type: string
                  enum: [whatsapp]
                received_at:
                  type: string
                  format: date-time
                business_phone_number:
                  type: string
                  description: Routes to correct tenant/location
                sender:
                  type: object
                  required: [phone_number]
                  properties:
                    phone_number:
                      $ref: '#/components/schemas/PhoneNumber'
                      description: Primary canonical identity. Always required from Bhejna.
                    bsuid:
                      type: string
                      nullable: true
                      description: Stored in customer_identities as supplementary lookup. Not used for sending.
                    display_name:
                      type: string
                      nullable: true
                message:
                  type: object
                  properties:
                    meta_message_id:
                      type: string
                    type:
                      type: string
                      enum: [text, button, interactive, flow_response]
                    body:
                      type: string
                      nullable: true
                    button_payload:
                      type: string
                      nullable: true
                    flow_response:
                      type: object
                      nullable: true
                      additionalProperties: true
      responses:
        '200':
          description: Acknowledged. Always 200. Processing is async.

  # ════════════════════════════════════════════════════════════════════════════
  # AI AGENT TOOLS — Clean tool-call-friendly endpoints
  # ════════════════════════════════════════════════════════════════════════════

  /agent/locations/{location_id}/info:
    get:
      tags: [AI Agent]
      summary: "[TOOL] Get shop info and live queue status"
      description: |
        Combined tool for AI agent. Returns everything needed to answer
        "Is Star Salon open?", "How long is the wait?", "What services do they have?"
        in a single call.
      operationId: agentGetShopInfo
      security:
        - AIAgentToken: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Shop info for agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/LocationStatus'
                  popular_services:
                    type: array
                    description: Top 5 is_popular variants for quick suggestions
                    items:
                      allOf:
                        - $ref: '#/components/schemas/ServiceVariant'
                        - type: object
                          properties:
                            group_name:
                              type: string
                            category_name:
                              type: string

  /agent/queue/join:
    post:
      tags: [AI Agent]
      summary: "[TOOL] Join queue on behalf of customer"
      description: |
        AI agent calls this after resolving customer intent to variant_ids.
        Identical logic to /queue/join but with initiated_via = ai_agent.
        phone_number is required (agent has it from conversation context).
      operationId: agentJoinQueue
      security:
        - AIAgentToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location_id, variant_ids, phone_number, idempotency_key]
              properties:
                location_id:
                  $ref: '#/components/schemas/UUIDv7'
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                party_size:
                  type: integer
                  default: 1
                customer_name:
                  type: string
                  nullable: true
                idempotency_key:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Joined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryPublic'
        '409':
          description: Already in queue
        '422':
          description: Booking blocked

  /agent/appointments/book:
    post:
      tags: [AI Agent]
      summary: "[TOOL] Book appointment on behalf of customer"
      description: Agent version of /appointments/book. Same logic, same response.
      operationId: agentBookAppointment
      security:
        - AIAgentToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location_id, variant_ids, scheduled_start_at, phone_number, idempotency_key]
              properties:
                location_id:
                  $ref: '#/components/schemas/UUIDv7'
                variant_ids:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/UUIDv7'
                scheduled_start_at:
                  type: string
                  format: date-time
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                party_size:
                  type: integer
                  default: 1
                customer_name:
                  type: string
                  nullable: true
                idempotency_key:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Appointment booked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'

  /agent/customer/status:
    get:
      tags: [AI Agent]
      summary: "[TOOL] Get customer's current queue or appointment status"
      description: |
        Agent calls this when customer asks "What's my token number?" or 
        "How long until my turn?" in WhatsApp conversation.
      operationId: agentGetCustomerStatus
      security:
        - AIAgentToken: []
      parameters:
        - name: phone_number
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PhoneNumber'
        - name: location_id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Customer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntryPublic'
        '404':
          description: No active entry found

  /agent/customer/cancel:
    post:
      tags: [AI Agent]
      summary: "[TOOL] Cancel customer's queue entry"
      description: Agent calls this when customer says "Cancel my booking"
      operationId: agentCancelEntry
      security:
        - AIAgentToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, location_id]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                location_id:
                  $ref: '#/components/schemas/UUIDv7'
      responses:
        '200':
          description: Cancelled
        '422':
          description: Cannot cancel (in_progress)
        '404':
          description: No active entry

  # ── Staff Push (PWA — Service Worker background context) ───────────────────

  /staff/push/subscribe:
    post:
      tags: [Staff - Push]
      summary: Register or update a Web Push subscription for this staff member
      description: |
        Called from the dashboard after Notification.permission is granted.
        Stores the W3C PushSubscription on the staff_members row (latest wins).
        Overwrites any previous subscription — one subscription per staff member.
        See: 16_web_push_service_worker.md — "Registration Flow"
      operationId: subscribePush
      security:
        - StaffJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint, p256dh, auth]
              properties:
                endpoint:
                  type: string
                  format: uri
                  description: FCM/APNs endpoint URL from W3C PushSubscription.endpoint
                p256dh:
                  type: string
                  description: Base64url client EC public key (PushSubscription.getKey("p256dh"))
                auth:
                  type: string
                  description: Base64url 16-byte auth secret (PushSubscription.getKey("auth"))
      responses:
        '204':
          description: Subscription stored

  /staff/push/call-next:
    post:
      tags: [Staff - Push]
      summary: Advance the queue from a lock-screen notification action
      description: |
        Called by the Service Worker background fetch when the barber taps the
        "NEXT CLIENT" action button on the push notification. Authenticates via
        PushActionToken (not StaffJWT — JWT expires mid-haircut, see Law 18).

        Executes the same call-next domain function as POST /staff/queue/call-next.
        The queue_sessions FOR UPDATE lock serializes concurrent calls from multiple
        devices (Law 1). Routing mode is respected (pooled/hybrid/barber_specific).

        Service Worker MUST update the notification on every response — including
        errors — so the barber always sees current queue state (see Law 18 error
        handling contract in 16_web_push_service_worker.md).
      operationId: pushCallNext
      security:
        - PushActionToken: []
      responses:
        '200':
          description: Customer called — return updated queue state for notification refresh
          content:
            application/json:
              schema:
                type: object
                required: [called_entry, waiting_arrived_count, estimated_wait_minutes]
                properties:
                  called_entry:
                    $ref: '#/components/schemas/QueueEntryStaff'
                  waiting_arrived_count:
                    type: integer
                    description: Remaining arrived dispatchable entries after this call
                  estimated_wait_minutes:
                    type: integer
        '404':
          description: No arrived dispatchable customers at this location
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      waiting_remote_count:
                        type: integer
                        description: Customers in queue but not yet arrived
        '401':
          description: PAT expired or signature invalid — Service Worker must show "Session expired" notification
        '403':
          description: PAT command mismatch (Law 20)
        '429':
          description: Rate limited (1 per 3s per staff member) — barber double-tapped, ignore

  # ── Mode B (own-number WhatsApp) — Phase 1 Premium ────────────────────────

  /admin/locations/{location_id}/whatsapp/connect:
    post:
      tags: [Admin - WhatsApp Mode B]
      summary: Connect a shop's own WABA (Mode B onboarding)
      description: |
        Owner pastes the "BarberBase Integration Config" JSON copied from the Bhejna
        portal. Go validates whatsapp_status == ACTIVE, quality_rating != RED, phone is
        E.164, then test-sends via the Bhejna API. On success it stores ONLY
        business_whatsapp_number, the AES-256-GCM encrypted api_key, the encrypted
        webhook_secret, and sets locations.whatsapp_mode = 'own_number'. Returns the
        webhook URL the owner must paste back into the Bhejna portal.
        See: 06_bhejna_whatsapp.md — "Mode B One-Paste Onboarding Flow"
      operationId: connectWhatsAppModeB
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        description: Config blob copied verbatim from the Bhejna Developer Settings page.
        content:
          application/json:
            schema:
              type: object
              required: [bhejna_config_version, phone_number, api_key, webhook_secret, whatsapp_status]
              properties:
                bhejna_config_version:
                  type: string
                  example: "1"
                waba_id:
                  type: string
                  description: Validation/diagnostic only — not persisted.
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                phone_number_id:
                  type: string
                api_key:
                  type: string
                  description: Stored AES-256-GCM encrypted in locations.bhejna_api_key_encrypted.
                webhook_secret:
                  type: string
                  description: Stored AES-256-GCM encrypted in locations.bhejna_webhook_secret_encrypted.
                whatsapp_status:
                  type: string
                  description: Must equal ACTIVE or connect is rejected.
                display_name:
                  type: string
                  description: Validation/diagnostic only — not persisted.
                quality_rating:
                  type: string
                  description: Rejected if RED. Validation/diagnostic only — not persisted.
                messaging_limit:
                  type: integer
                  description: Validation/diagnostic only — not persisted.
      responses:
        '200':
          description: Connected — returns the webhook URL to paste into the Bhejna portal
          content:
            application/json:
              schema:
                type: object
                required: [whatsapp_mode, webhook_url]
                properties:
                  whatsapp_mode:
                    type: string
                    enum: [own_number]
                  webhook_url:
                    type: string
                    format: uri
                    example: "https://api.barberbase.in/v1/webhooks/bhejna/loc/0190..."
        '422':
          description: Validation failed (status not ACTIVE, quality RED, bad phone, or test-send failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/locations/{location_id}/whatsapp/disconnect:
    post:
      tags: [Admin - WhatsApp Mode B]
      summary: Disconnect a shop's own WABA (revert to shared platform number)
      description: |
        Sets locations.whatsapp_mode = 'shared' and clears the encrypted credentials.
        The location falls back to the platform Mode A number for all sends.
        See: 06_bhejna_whatsapp.md — "Mode B One-Paste Onboarding Flow"
      operationId: disconnectWhatsAppModeB
      security:
        - StaffJWT: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '204':
          description: Disconnected — location reverted to shared platform number

  /webhooks/bhejna/loc/{location_id}:
    post:
      tags: [Webhooks]
      summary: Bhejna inbound webhook (Mode B — per-location)
      description: |
        Mode B inbound webhook. The location_id path param resolves the shop's
        encrypted webhook_secret BEFORE the payload is parsed; HMAC-SHA256 is verified
        against the decrypted secret. On success, INSERT webhook_events (location_id
        pre-filled) ON CONFLICT (source, external_event_id) DO NOTHING and return 200
        immediately (Law 9). Processing is asynchronous (see 07_webhooks_outbox_workers.md).
        Identical payload shapes to the Mode A webhook (see /webhooks/bhejna).
        See: 06_bhejna_whatsapp.md — "Two Webhook Handlers"
      operationId: receiveBhejnaWebhookModeB
      security:
        - BhejnaKey: []
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Raw Bhejna event payload (message.received / message.status_updated).
      responses:
        '200':
          description: Accepted (always 200 after HMAC passes — never 5xx, Law 9)
        '401':
          description: HMAC signature invalid
        '404':
          description: location_id not found or not in own_number mode
